*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000016;
}
nav{
    margin: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 15px;
    width: 13.35%;
    height: 500px;
    background-color: #6077cb;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
    float: left;
}

.container{
    margin-top: 20px;

    background-color: #b0cdd2;
    width: 60%;
    height: 400px;
    border-radius: 20px;
    float: left;
}

.aside{
    margin-left: 20px;
    margin-top: 20px;
    width: 16%;
    height: 500px;
    background-color: #eee;
    border-radius: 20px;
    float: left;
}
form{
    clear: both;
}

.login{
    color: wheat;
    margin-bottom: 20px;
    font-size: 20px;
}

li.home{
    margin-top: 40px;
}

.login:hover{
    color: darkred;
}

ul{
    list-style-type: none;
    width: 100%;
}
li{
    color: black;
    background-color: #ddd;
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    box-shadow: 5px 5px #666;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 10px;

}

a{
    text-decoration: none;
}



li:hover{
    background-color: #bbbbd0;
    box-shadow: 5px 5px #333;

}
