*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000016;
}

form{
    width: 70%;
    height: 600px;
    margin: auto;
}
.EP{
    width: 100%;
    height: 40px;
    border: 1px solid #1f537d;
    box-shadow: 1px 1px #333;
    border-radius: 5px;
}
.user{
    width: 100%;
    height: 40px;
    border: 1px solid #1f537d;
    box-shadow: 1px 1px #333;
    border-radius: 5px;
}

    .submit{
        background-color: #97cbea;
        width: 50%;
        height: 40px;
        border: 1px solid #1f537d;
        box-shadow: 1px 1px #333;
        border-radius: 5px;
    }

    .submit:hover{
        background-color: #ddd;
        cursor: pointer;
    }

.container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e7f4ff;
    width: 35%;
    height:540px;
    border-radius: 20px;
}

.error{
    width: 100%;
    height: 40px;
    border: 1px solid #1f537d;
    box-shadow: 1px 1px #333;
    border-radius: 5px;
    background-color: #dc7373;
    font: bold 17px Arial;
    text-align: center;
    line-height: 40px;
}